opencv-python
insightface
argparse
basicsr>=1.4.2
facexlib>=0.2.5
lmdb
pyyaml
scipy
tb-nightly
tqdm
yapf
pynvml
codeformer-pip==0.0.4
psutil
ftfy
segmentation_models_pytorch
rembg
mediapipe
python-magic-bin